.select_experience_container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1060px;
  overflow: hidden;
  height: 83vh;
  margin: 35px auto 0;
  overflow: auto;
}
.select_experience_container::-webkit-scrollbar {
  width: 13px;
}

.select_experience_container::-webkit-scrollbar-thumb {
  background: url("/public/assets/scrollBar.svg");
  border-radius: 10px;
  background-size: 0 0;
  background-repeat: no-repeat;
}
.select_experience_container:hover::-webkit-scrollbar-thumb {
  background-size: 100% 88%;
}
