.main-container {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 15%;
  background: unset;
}
.header {
  display: flex;
  justify-content: space-between;
  width: 96%;
  align-items: center;
  margin: 0 auto;
}
.welcomePage-content {
  color: #ffffff;
  font-size: 80px;
  width: 80%;
  font-weight: 275;
  margin-bottom: 20px;
}
.page-content {
  display: unset;
  top: 2%;
}

.page-content-title {
  font-size: 50px;
  line-height: 120px;
}
.card-wrapper {
  margin-top: 40px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.content-wrapper {
  text-align: center;
  width: 80%;
  margin: 30px auto;
  max-width: 1280px;
}
.content-wrapper-innr {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 70px;
  height: 200px;
  align-items: center;
}
.back-btn {
  background: black;
  color: rgb(174, 211, 240);
  width: 104px;
  margin: 40px auto;
  padding: 6px;
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  font-size: 14px;
}

.home-container {
  cursor: pointer;
  z-index: 99;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .main-container img {
    width: 60% !important;
  }
  .main-container .marginbottom40 img {
    width: unset !important;
  }
  .becknIcon > img {
    margin: 0 auto;
    display: flex;
  }
  .main-container a img {
    width: 50% !important;
  }
  .header a {
    right: unset !important;
  }

  .main-container .begin-journey img {
    width: 10% !important;
  }
  .page-content-title {
    font-size: 30px;
    line-height: unset;
  }
  .card-wrapper {
    display: unset;
    margin-top: 40px;
  }
  .content-wrapper {
    width: 90%;
    height: unset;
  }
  .content-wrapper-innr {
    margin-top: unset;
  }
  .back-btn {
    font-size: 12px;
  }
  .back-btn img {
    width: 20%;
  }
  .home-container {
    right: unset !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header a {
    right: unset !important;
  }

  .welcomePage-content {
    font-size: 50px;
  }
  .page-content-title {
    font-size: 50px;
    line-height: unset;
  }
  .card-wrapper {
    margin-top: 40px;
  }
  .content-wrapper {
    width: 90%;
    height: unset;
  }
  .content-wrapper-innr {
    margin-top: unset;
    margin-bottom: 54px;
  }
  .back-btn {
    font-size: 12px;
  }
  .back-btn img {
    width: 20%;
  }
  .iframeVideoBeck {
    height: 40%;
    width: 92%;
  }
  .home-container {
    right: unset !important;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1400px) {
  .page-content-title {
    font-size: 50px;
    line-height: unset;
  }
}
