.card-container {
  box-shadow: 8px 5px 10px rgb(0 0 0 / 20%);
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  height: 90vh;
  display: flex;
  justify-content: center;
}
.border-gradient-purple {
  height: 40px !important;
  font-size: 20px !important;
  font-weight: 500 !important;
  margin-top: 38px;
}
h2 {
  text-align: center;
}
li {
  text-align: center;
}
.beckn-logo {
  width: 236px;
  height: 270px;
  margin-bottom: 56px;
}
.head-text {
  font-size: 48px;
  font-weight: 400;
  color: #4e4646;
  line-height: 72px;
}
.head-child-text {
  color: #343538;
  font-weight: 275;
  font-size: 32px;
  line-height: 48px;
  margin-top: 20px;
  margin-bottom: 38px;
}
