.welcome-Screen-container {
  display: flex;
  justify-content: center;
}
.child-container {
    text-align: center;
    display: grid;
}
.Beckn-logo {
  height: 52px;
  width: 200px;
  margin-top: 20px;
  cursor: pointer;
  position: relative;
}
.welcomeQuote {
  font-weight: 275;
  font-size: 64px;
  line-height: 96px;
  color: #000000;
}
.headLogo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.welcomeQuote-container{
    /* position: absolute;
    top: 94px; */
}
button {
font-size: 28px;
font-family: 'Space Grotesk';
font-weight: 300;
letter-spacing: 0.03em;
line-height: 41px;
color: #0C0C0C;
width: 228px;
height: 55px;
background: #DFD1D5;
border: none;
cursor: pointer;
}

.border-gradient {
  /* border: 1px solid;
  border-image-slice: 1;
  border-width: 1px; */
}
.border-gradient-purple {
  border-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
/* border-image-source: linear-gradient(94.39deg, #FFFFFF -7.2%, #490317 24.09%, rgba(70, 2, 16, 0.96) 77.09%, rgba(255, 255, 255, 0.78) 108.24%); */
}
