* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
  color: #000000;
}

.beckn-app {
  background: url("./assets/welcome.png");
  background-size: 100% 100%;
  position: relative;
  height: 100vh;
  display: grid;
}

.Title {
  font-style: normal;
  color: white;
  font-weight: 275;
}
/* -----------------Card.tsx-------------------------------- */
.image-url-containers img:nth-child(2) {
  display: none;
}

.image-url-containers:hover img:nth-child(1) {
  display: none;
}

.image-url-containers:hover img:nth-child(2) {
  display: block;
}
.image-url-containers img:nth-child(2) {
  display: none;
}
.hover_card:hover .image-url-containers{
  display: flex;
  justify-content: center;
}
.hover_card:hover .image-url-containers img:nth-child(1) {
  display: none;
}
.hover_card:hover .image-url-containers img:nth-child(2) {
  display: block;
}

/* ----------------------------Media Query---------------------- */
@media screen and (min-width: 320px) and (max-width: 767px) {

}
@media screen and (min-width: 768px) and (max-width: 1224px) {
  /* TO-DO */
  .beckn-app{
    /* height: 100%; */
  }
.page-content{
  height: 100%;
  width: 100%;
}
.card-head{
  width: 30%;
  margin: 15px;
}
.image-url-containers{
  margin: unset !important;
  width: 100%;
}
.firstImage{
  width: 100%;
}
.secondImage{
  width: 100%;
}
.child-container{
height: 100%;
}
}
@media screen and (min-width: 800px) and (max-width: 741px) {
}
