.iframe_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text_wrapper {
  width: 565px;
}
.languages_tab {
  cursor: pointer;
  padding-top: 5px;
  display: flex;
  align-items: center;
}
.english {
  padding-right: 6px;
  font-weight: 400;
  color: #4e4646;
  font-weight: 300;
}
.english.active {
  font-weight: 700;
}
.france {
  padding-left: 6px;
  font-weight: 400;
  color: #4e4646;
  font-weight: 300;
}
.france.active {
  font-weight: 700;
}
.heading1,
.heading3 {
  color: #4e4646;
  font-size: 36px;
  text-align: left;
  /* padding-bottom: 5px; */
}
.heading2 {
  text-align: left;
  /* padding-bottom: 5px; */
}
.description_text {
  color: #4e4646;
  font-size: 24px;
  font-weight: 300;
  text-align: left;
  padding-bottom: 15px;
}
.smartphone-wrapper {
  position: relative;
  width: 393px;
  height: 686px;
  border: 4px solid #ffffff;
  border-radius: 36px;
}
.smartphone {
  position: relative;
  width: 360px;
  height: 640px;
  margin: auto;
  border: 4px #d9d9d9 solid;
  border-top-width: 4px;
  border-bottom-width: 4px;
  border-radius: 36px;
  margin-top: 1px;
}

/* The horizontal line on the top of the device */
.smartphone:before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #d9d9d9;
  border-radius: 50%;
  z-index: 99;
}

/* The screen (or content) of the device */
.smartphone {
  width: 383px;
  height: 678px;
  background: white;
}
.content {
  width: 375px;
  height: 666px;
  overflow: hidden;
  margin-top: 1px;
}
